<!--@subject Opomnik neuspešne transakcije plačila @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
    <tr>
        <th>Transakcija plačila ni bila uspešna.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>
                <b>Razlog</b><br />
                {{var reason}}
            </p>
            <p>
                <b>Vrsta naročila</b><br />
                {{var checkoutType}}
            </p>
            <p>
                <b>Kupec:</b><br />
                <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
            </p>
            <p>
                <b>Elementi</b><br />
                {{var items}}
            </p>
            <p>
                <b>Skupaj:</b><br />
                {{var total}}
            </p>
            <p>
                <b>Naslov za izstavitev računa:</b><br />
                {{var billingAddress.format('html')}}
            </p>
            <p>
                <b>Naslov za dostavo:</b><br />
                {{var shippingAddress.format('html')}}
            </p>
            <p>
                <b>Metoda dostave:</b><br />
                {{var shippingMethod}}
            </p>
            <p>
                <b>Metoda plačila:</b><br />
                {{var paymentMethod}}
            </p>
            <p>
                <b>Datum in čas:</b><br />
                {{var dateAndTime}}
            </p>
        </td>
    </tr>
    </tbody>
</table>
