<?xml version="1.0"?>
<!--
/**
 * @category Slovenian
 * @package Slovenian_LocalePackSl
 * @link https://github.com/symfony-si/magento1-sl-si Symfony Slovenia Community
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Slovenian_LocalePackSl>
            <version>1.0.9</version>
        </Slovenian_LocalePackSl>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <slovenian_localepacksl>
                    <file>slovenian/localepacksl.xml</file>
                </slovenian_localepacksl>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Api2>
                    <files>
                        <default>Mage_Api2.csv</default>
                    </files>
                </Mage_Api2>
                <Mage_Captcha>
                    <files>
                        <default>Mage_Captcha.csv</default>
                    </files>
                </Mage_Captcha>
                <Mage_Connect>
                    <files>
                        <default>Mage_Connect.csv</default>
                    </files>
                </Mage_Connect>
                <Mage_Dataflow>
                    <files>
                        <default>Mage_Dataflow.csv</default>
                    </files>
                </Mage_Dataflow>
                <Mage_ImportExport>
                    <files>
                        <default>Mage_ImportExport.csv</default>
                    </files>
                </Mage_ImportExport>
                <Mage_Weee>
                    <files>
                        <default>Mage_Weee.csv</default>
                    </files>
                </Mage_Weee>
            </modules>
        </translate>
    </adminhtml>
</config>
